<style>
  table, td, tr, th{
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
<% $hitcount += 1 %>
<table style=" border: 1px solid black" >
  <tr>
    <th>Start Time</th>
    <td><%= $start_time %>
  </tr>
  <tr>
    <th>Local Hostname</th>
    <td><%= $hostname %>
  </tr>
  <tr>
    <th>Local Address</th>
    <td><%= request.host %>
  </tr>
  <tr>
    <th>Remote Address</th>
    <td><%= request.remote_ip %>
  </tr>
  <tr>
    <th>Hit Count</th>
    <td><%= $hitcount %>
  </tr>
</table> 
